.loader {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 6px;
}

.loader div {
    position: absolute;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #457eff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
    left: 4px;
    animation: inline-loader1 0.6s infinite;
}

.loader div:nth-child(2) {
    left: 4px;
    animation: inline-loader2 0.6s infinite;
}

.loader div:nth-child(3) {
    left: 16px;
    animation: inline-loader2 0.6s infinite;
}

.loader div:nth-child(4) {
    left: 28px;
    animation: inline-loader3 0.6s infinite;
}

@keyframes inline-loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes inline-loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes inline-loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(12px, 0);
    }
}
