.wrapper {
    padding: 32px;
    background-color: #ffffff;
}

@media screen and (max-width: 750px) {
    .wrapper {
        padding: 16px;
    }
}

.titleBlock {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .titleBlock {
        margin-top: 24px;
    }
}

.logo {
    width: 65px;
    height: 65px;
}

.title {
    font-weight: 600;
    line-height: 24px;
    color: #0e0e0e;
    font-size: 16px;
    font-family: inherit;
}

.list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media screen and (max-width: 750px), screen and (max-height: 750px) {
    .list {
        padding-bottom: 24px;
        overflow-y: auto;
        max-height: 400px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .list::-webkit-scrollbar {
        display: none;
    }
}

.connector {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 16px 32px rgba(105, 142, 226, .2);
    cursor: pointer;
}

@media screen and (max-width: 750px), screen and (max-height: 750px) {
    .connector {
        box-shadow: unset;
        border: 1px solid rgba(105, 142, 226, .2);
    }
}

.walletIcon {
    flex-shrink: 0;
    width: 28px;
    height: 25px;
}

.walletInfo {
    text-align: left;
}

.walletInfo .title {
    font-size: 14px;
    font-weight: 600;
    color: #0e0e0e;
    line-height: 20px;
    font-family: inherit;
}

.walletInfo .sunTitle {
    font-size: 14px;
    color: #a4bbf0;
    line-height: 20px;
    font-family: inherit;
}

.arrowIcon {
    margin-left: auto;
    width: 16px;
    height: 16px;
}
