.header {
  display: flex;
  z-index: 79;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  min-height: 90px;
  padding: 8px 20px;
  background: white;
  box-shadow: 0px 12px 36px 0px rgba(47, 43, 67, 0.12);
  border-radius: 24px;
  position: absolute;
  color: #222426;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 140px);

  @media screen and (max-width: 1210px) {
    padding: 16px 20px;
    min-height: 80px;
  }

  @media screen and (max-width: 1000px) {
    width: calc(100% - 36px);
  }

  @media screen and (max-width: 610px) {
    padding: 12px 20px;
    min-height: 72px;
  }
}

.header_fixed {
  position: fixed;
  top: 20px;
}


@media screen and (max-width: 1210px) {
  .header__logo {
    margin-right: auto;
  }
}

.header__logo img {
  height: 48px;

  @media screen and (max-width: 1210px) {
    width: 122px;
    margin-right: auto;
  }

  @media screen and (max-width: 610px) {
    width: 100px;
  }
}

.nav-item-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto 0 0;

  padding: 0 50px;
  gap: 40px;

  @media screen and (max-width: 1210px) {
    display: none;
  }
}

.nav-item {
  color: #222426;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;

  text-decoration: none;

  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 1210px) {
    width: 100%;
  }
}

.nav-item_active {
  color: rgba(69, 126, 255, 1);
}

.nav-item__label-img {
  margin-left: 8px;
}

.nav-item__label-img_active {
  transform: rotate(180deg);
}

.nav-item__list {
  @media screen and (min-width: 949px) {
    position: absolute;
    top: 110px;
    right: 50px;
    background: #FFFFFF;
    box-shadow: 0px 11px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 876px;
    padding: 32px;
    display: flex;
    align-items: flex-start;
    gap: 32px 0;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1100px) {
    right: 0;
  }
}

.nav-item__list-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-item__list-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 50%;

  @media screen and (max-width: 1210px) {
    width: 100%;
    margin-top: 40px;
  }
}

.nav-item__list-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.nav-item__list-descr {
  font-size: 14px;
  color: #676B73;
}

.balance {
  display: flex;
  align-items: center;
  margin-right: 32px;

  @media screen and (max-width: 1024px) {
    margin-left: auto;
  }

  @media screen and (max-width: 650px) {
    margin-right: 12px;
  }

  @media screen and (max-width: 610px) {
    display: none;
  }
}

.balance__img {
  margin-right: 8px;
}

.balance__amount {
  color: var(--neutral-900, #0E0E0E);
  text-align: center;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.header__address {
  background: rgba(14, 14, 14, 0.05);
  padding: 8px 16px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  cursor: pointer;

  margin-right: 32px;

  user-select: none;
}


.header__address:hover {
   background: var(--alpha-black-10, rgba(14, 14, 14, 0.10));
 }

.address-info__block-wrapper {
  display: flex;
  align-items: center;
}

.address-info__copied {
  display: block;
  color: var(--neutral-300, #A1A6B2);
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.14px;
}

@media screen and (max-width: 610px) {
  .header__address {
    margin-left: auto;
    margin-right: 24px;
  }
}

@media screen and (max-width: 430px) {
  .header__address {
    margin-right: 12px;
    padding: 8px;
  }
}

@media screen and (max-width: 430px) {
  .header__address img {
    display: none;
  }
}

.header__address-text {
  margin-left: 8px;
  color: var(--neutral-900, #0E0E0E);
  text-align: center;

  /* WEB/Body 2/500 - Medium */
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

@media screen and (max-width: 430px) {
  .header__address-text {
    margin-left: 0;
  }
}

.header__hamburger {
  margin-left: 32px;
  height: 24px;

  @media screen and (max-width: 660px) {
    margin-left: 12px;
  }
}

.connected-nav {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: auto;

  @media screen and (min-width: 611px) {
    padding: 39px 32px 32px;
    background: #FFFFFF;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    position: absolute;
    right: 0;
    top: 110px;
    width: 296px;
  }

  @media screen and (max-width: 1210px) {
    padding-top: 22px;
  }

  @media screen and (max-width: 610px) {
    border-radius: 0;
    width: 100%;
    padding-top: 0;
  }
}

.connected-nav__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 28px;

  @media screen and (max-width: 1210px) {
    font-size: 16px;
  }
}

.connected-nav__product {
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 40px;
}

.connected-nav__balance {
  display: none;

  @media screen and (max-width: 610px) {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    margin-top: 35px;
  }
}

.connected-nav__balance-img {
  margin-right: 8px;
}

.connected-nav__link {
  font-weight: 600;
  color: #676B73;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.connected-nav__hr {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #C2C5CC;
  margin: 8px 0 32px;
}

.address-info {
  @media screen and (min-width: 609px) {
    width: 320px;
    position: absolute;
    right: 0;
    top: 110px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 30px;
  }

  @media screen and (max-width: 610px) {
    width: 100%;
    margin-top: 32px;
  }
}

.address-info__address {
  color: #0E0E0E;
  text-align: center;
  /* WEB/Body 2/500 - Medium */
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.address-info__label {
  color: #A1A6B2;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.address-info__block {
  display: inline-block;
  padding: 0 8px;
  border: 1px solid rgba(47, 43, 67, 0.1);
  border-radius: 20px;
  margin-right: 8px;
}

.address-info__check {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.address-info__copied {

}

.address-info__copy {
  position: relative;
  cursor: pointer;
}

.address-info__disconnect {
  display: flex;
  margin-top: 24px;
  width: 100%;
  background: #FF4747;
  padding: 8px 16px;
  border-radius: 1000px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  box-shadow: none;
  cursor: pointer;
}

.blur-overlay {
  position: fixed;
  width: 100vw;
  height: 130vh;
  top: -200px;
  backdrop-filter: blur(6px);
}

.connected-nav__products {
  display: none;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.connected-nav__community {
  display: flex;
  gap: 24px 32px;
  flex-wrap: wrap;
}

.connected-nav__community-item {
  width: 32px;
  height: 32px;

}

.connect_button {
  margin-right: 32px;
}

.connect-wallet-img {
  display: none;

  @media screen and (max-width: 610px) {
    display: block;
  }
}

.connect-wallet-text {
  color: inherit;

  @media screen and (max-width: 610px) {
    display: none;
  }
}

.hamburger-btn {
  display: block;
  height: 24px;

  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

.mobile-menu {
  width: 296px;
  max-height: 70vh;
  padding: 32px;

  position: absolute;
  right: 0;
  top: 110px;
  overflow: auto;

  background: #FFFFFF;
  box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;

  @media screen and (max-width: 610px) {
    position: relative;
    right: unset;
    top: unset;

    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    margin: 0;
    max-height: 85vh;
    width: 100%;
    padding: 0;
    row-gap: 32px;
  }
}

.mobile-menu__link {
  color: var(--neutral-700, #222426);

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;

  @media screen and (min-width: 1001px){
    display: none;
  }
}

.mobile-menu__link_active {
  color: rgba(69, 126, 255, 1);
}

.mobile-menu__balance {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

@media screen and (min-width: 610px) {
  .mobile-menu__balance, .mobile-menu__balance + .mobile-menu__divider {
    display: none;
  }
}

.mobile-menu__balance span {
  color: #0E0E0E;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin-left: 8px;
}

.mobile-menu__sublist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.mobile-menu__sublist-name {
  color: var(--neutral-700, #222426);

  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.mobile-menu__sublist-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
}

.mobile-menu__sublist-link {
  color: var(--neutral-400, #676B73);

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;

  text-decoration: none;
  user-select: none;
}

.mobile-menu__divider {
  height: 0;
  width: 100%;
  border-top: 1px solid var(--neutral-200, #C2C5CC);
}

.mobile-menu__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.mobile-menu__socials-name {
  color: var(--neutral-700, #222426);

  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.mobile-menu__socials-content {
  display: flex;
  flex-flow: row wrap;
  column-gap: 32px;
  row-gap: 24px;
}

.mobile-menu__socials-link {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  /*background: var(--gradients-logo-blue, linear-gradient(270deg, #3568DD 0%, #7DA3F9 100%));*/
  /*background: red;*/
}

.mobile-menu__social-img {
  height: 32px;
  width: 32px;
}

.address-info__check {
  height: 20px;
}
