.header {
  display: flex;
  z-index: 79;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  min-height: 90px;
  padding: 8px 20px;
  background: white;
  box-shadow: 0px 12px 36px 0px rgba(47, 43, 67, 0.12);
  border-radius: 24px;
  position: absolute;
  color: #222426;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 140px);

  @media screen and (max-width: 950px) {
    padding: 16px 20px;
    min-height: 80px;
  }

  @media screen and (max-width: 610px) {
    padding: 16px;
    min-height: 72px;
    width: calc(100% - 36px);
  }
}

.header_fixed {
  position: fixed;
  top: 20px;
}

.header__logo {
  @media screen and (max-width: 1210px) {
    margin-right: auto;
  }
}

.header__logo img {
  height: 48px;

  @media screen and (max-width: 1210px) {
    width: 122px;
    margin-right: auto;
  }

  @media screen and (max-width: 610px) {
    width: 100px;
  }
}

.nav-item-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto 0 0;

  padding: 0 50px;
  gap: 40px;

  @media screen and (max-width: 1210px) {
    display: none;
  }
}

.nav-item {
  color: #222426;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;

  text-decoration: none;

  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 1210px) {
    width: 100%;
  }
}

.nav-item_active {
  color: rgba(69, 126, 255, 1);
}

.nav-item__label-img {
  margin-left: 8px;
}

.nav-item__label-img_active {
  transform: rotate(180deg);
}

.nav-item__list {
  @media screen and (min-width: 949px) {
    position: absolute;
    top: 110px;
    right: 50px;
    background: #ffffff;
    box-shadow: 0px 11px 34px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 876px;
    padding: 32px;
    display: flex;
    align-items: flex-start;
    gap: 32px 0;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1100px) {
    right: 0;
  }
}

.nav-item__list-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-item__list-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 50%;

  @media screen and (max-width: 1210px) {
    width: 100%;
    margin-top: 40px;
  }
}

.nav-item__list-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.nav-item__list-descr {
  font-size: 14px;
  color: #676b73;
}

.balance {
  display: flex;
  align-items: center;
  margin-right: 32px;

  @media screen and (max-width: 1024px) {
    margin-left: auto;
  }

  @media screen and (max-width: 650px) {
    margin-right: 12px;
  }
}

.balance span {
  color: #46464d;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.balance__img {
  margin-right: 8px;
}

.balance__amount {
  color: var(--neutral-900, #0e0e0e);
  text-align: center;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.header__address {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}

@media screen and (max-width: 610px) {
  .header__address {
    margin-left: auto;
    border-radius: 1000px;
    background-color: #f2f2f3;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 365px) {
  .header__address img {
    display: none;
  }
}

.address-info__block-wrapper {
  display: flex;
  flex-direction: column;
}

.address-info__copied {
  display: block;
  color: var(--neutral-300, #a1a6b2);
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.14px;
}

.header__address-text {
  margin-left: 8px;
  line-height: 24px;
  font-size: 16px;

  @media screen and (max-width: 430px) {
    margin-left: 4px;
  }
}

.header__address-arrow {
  margin-left: 5px;

  @media screen and (max-width: 430px) {
    display: none;
  }
}

.header__address-arrow.open {
  transform: rotate(180deg);
}

.header__hamburger {
  margin-left: 24px;
  height: 24px;
}

@media screen and (max-width: 660px) {
  .header__hamburger {
    margin-left: 12px;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button-tetiary {
  margin-right: 16px;
}

@media screen and (max-width: 610px) {
  .header__button-tetiary {
    display: none;
  }
}

.header__button-tetiary span {
  font-weight: 500;
  color: #0c0c0d;
  font-size: 14px;
}

.connected-nav {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: auto;
}

@media screen and (min-width: 611px) {
  .connected-nav {
    padding: 32px;
    background: #ffffff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    position: absolute;
    right: 0;
    top: 110px;
    width: 296px;
  }
}

@media screen and (max-width: 1210px) {
  .connected-nav {
    padding-top: 22px;
  }
}

@media screen and (max-width: 610px) {
  .connected-nav {
    border-radius: 0;
    width: 100%;
  }
}

.connected-nav__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 28px;
}

@media screen and (max-width: 1210px) {
  .connected-nav__title {
    font-size: 16px;
  }
}

.connected-nav__product {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
  color: var(--neutral-700, #222426);
}

.connected-nav__balance {
  display: none;
}

@media screen and (max-width: 610px) {
  .connected-nav__balance {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    margin-top: 35px;
  }
}

.connected-nav__balance-img {
  margin-right: 8px;
}

.connected-nav__link {
  font-weight: 600;
  color: #676b73;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.connected-nav__hr {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #c2c5cc;
  margin: 8px 0 32px;
}

.connected-nav__link-arrow {
  display: flex;
  width: 100%;
  align-items: center;
}

.connected-nav__link-arrow a {
  flex: 1;
  margin-bottom: 0;
}

@media screen and (min-width: 650px) {
  .connected-nav__link-arrow {
    display: none;
  }
}

@media screen and (min-width: 609px) {
  .address-info {
    width: 340px;
    position: absolute;
    right: 0;
    top: 110px;
    padding: 24px;
    background: #fff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 24px;
  }
}

.address-info hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #f2f2f3;
  margin: 20px 0;
}

@media screen and (max-width: 610px) {
  .address-info {
    width: 100%;
    margin-top: 20px;
  }
}

.address-info__address {
  color: #0c0c0d;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  margin-right: 12px;
}

.address-info__label {
  color: #a1a6b2;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.address-info__block {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.address-info__check {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.address-info__copied {
}

.address-info__copy {
  position: relative;
  cursor: pointer;
}

.address-info__disconnect {
  display: flex;
  color: #ff6767;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  box-shadow: none;
  cursor: pointer;
}

.blur-overlay {
  position: fixed;
  width: 100vw;
  height: 130vh;
  top: -200px;
  backdrop-filter: blur(6px);
}

.connected-nav__products {
  display: none;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.connected-nav__community {
  display: flex;
  gap: 24px 32px;
  flex-wrap: wrap;
}

.connected-nav__community-item {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 610px) {
  .connect_button {
    width: 40px;
    height: 40px !important;
    padding: 0;
    border-radius: 50%;
  }
}

.connect-wallet-img {
  display: none;

  @media screen and (max-width: 610px) {
    display: block;
  }
}

.connect-wallet-text {
  color: inherit;

  @media screen and (max-width: 610px) {
    display: none;
  }
}

.hamburger-btn {
  margin-left: 24px;
  line-height: 0;

  @media screen and (max-width: 430px) {
    margin-left: 14px;
  }

  @media screen and (max-width: 390px) {
    margin-left: 10px;
  }
}

.mobile-menu {
  width: 296px;
  max-height: 70vh;
  padding: 32px;

  position: absolute;
  right: 0;
  top: 110px;
  overflow: auto;

  background: #ffffff;
  box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu > *:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 610px) {
  .mobile-menu {
    position: relative;
    right: unset;
    top: unset;

    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    max-height: 70vh;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 660px) {
  .mobile-menu {
    margin-top: 22px;
  }
}

.mobile-menu__link {
  color: var(--neutral-700, #222426);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

@media screen and (min-width: 1211px) {
  .mobile-menu__link {
    display: none;
  }
}

.mobile-menu__link_active {
  color: rgba(69, 126, 255, 1);
}

.mobile-menu__balance {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.mobile-menu__sublist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.mobile-menu__sublist-name {
  color: var(--neutral-700, #222426);

  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.mobile-menu__sublist-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
}

.mobile-menu__sublist-link {
  color: var(--neutral-400, #676b73);

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;

  text-decoration: none;
  user-select: none;
}

.mobile-menu__divider {
  height: 0;
  width: 100%;
  border-top: 1px solid var(--neutral-200, #c2c5cc);
}

.mobile-menu__socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.mobile-menu__socials-name {
  color: var(--neutral-700, #222426);

  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.mobile-menu__socials-content {
  display: flex;
  flex-flow: row wrap;
  column-gap: 32px;
  row-gap: 24px;
}

.mobile-menu__socials-link {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.mobile-menu__social-img {
  height: 32px;
  width: 32px;
}

.address-info__check {
  height: 20px;
}
