.footer {
    width: 100%;
    padding: 0 44px 44px;

    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
}

.links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px 53px;
}

.link {
    color: var(--neutral-400, #676B73);
    text-align: center;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.version {
    color: var(--neutral-300, #A1A6B2);
    text-align: center;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.socials {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

@media screen and (max-width: 975px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .version {
        order: 1;
    }

    .links {
        order: 2;
        flex-wrap: wrap;
    }

    .socials {
        order: 3;
        flex-wrap: wrap;
    }
}
